.container {
  width: 400px;
  margin-top: 70px;
  padding: 0 20px;
}

body {
  height: 100%;
  width: 100%;
  background-color:white;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

i {
  float: left;
}

